@charset "utf-8";

    
    *{
       margin: 0px;
       padding: 0px;
       background-color: white;
        
    }
    ::-webkit-scrollbar{
        width: 0px;
        height: 0px;
    }

    img{
       width: 100vw;

    }

    a{
        display: block;
        padding: 20px;
        background-color: darkred;
        color: white;
        text-align: center;
        font-weight: bolder;
        text-decoration: none;
    }
    a:hover{
        margin: 0px;
        background-color: red;
        transform: translate(-2px, -2px);
    }

